@import "tailwindcss";

:root {
  --background: #3c7de7;
  --foreground: #ededed;
  --accent: #ffffff;
  --accent-glow: rgba(255, 255, 255, 0.1);
  --glass: #3c7de7;
  --glass-border: #3c7de7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-glow: var(--accent-glow);
  --color-glass: var(--glass);
  --color-glass-border: var(--glass-border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}

@layer utilities {
  .glassmorphism {
    background-color: var(--glass);
    border: 1px solid var(--glass-border);
    border-radius: 20px;
  }

  .glow-effect {
    box-shadow: none;
  }

  .text-glow {
    text-shadow: none;
  }
}